/* line 3, ../compass/sass/style.scss */
#logo {
  float: left;
}

/* line 7, ../compass/sass/style.scss */
#nav-bar {
  float: right;
  margin: 22px 30px 0 0;
}

/* line 12, ../compass/sass/style.scss */
.select-button {
  float: left;
  list-style-type: none;
  margin: 5px;
  border: 1px solid;
  padding: 3px 6px;
}

/* line 20, ../compass/sass/style.scss */
.select-button:hover {
  background-color: red;
  cursor: pointer;
}
